
html, body {
  height: 100%;
  margin: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  background: #e9e9e9;
  color: #000000;
  text-align: left;
  padding: 1rem;
}


main .title {
  padding: 3rem 2rem;
  text-align: center;
}

main .title h1 {
  font-size: 3rem;
  margin: 0;
}