/* Reset + layout */
html,
body {
  height: 100%;
  margin: 0;
}

/* Page layout */
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main content expands */
main {
  flex: 1 0 auto;
}

/* Title section */
main .title {
  padding: 1rem;
  text-align: center;
}

/* Title text */
.title h1 {
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: "Monaco", monospace; */
  font-size: 4.5rem;
  font-weight: 500;
  margin: 0;
  line-height: 1.1;
  margin-top: 1.2rem;
}

.other h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0;
  line-height: 1.1;
  margin-left: 1rem;
  margin-top: 2rem;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #e9e9e9;
  color: #000;
  align-items: center;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.footer p {
  margin: 0;
}

.footer-logo {
  height: 42px;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 2rem;
}

.nav a {
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 1.1rem;
  color: #000;
  position: relative;
}

.nav a:hover {
  text-decoration: underline;
}

/* Sponsors page */
.site-header {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
  margin-bottom: 3.8rem;
}

.site-header h1 {
  margin: 0;
  font-weight: normal;
}

.center {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  height: 70vh;
}

.center img {
  width: auto;
  max-height: 85%;
  max-width: 90%;
  height: auto;
}

/* Quad images */
main .quad {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  column-gap: 8px;
  row-gap: 4px;
  max-width: 900px;
  margin: 0 auto;
}

main .quad img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Homepage Description */
main .quad-text {
  margin-top: 8px;
  font-size: 20px;
  line-height: 1.4;
  margin-left: 525px;
  /* color: #444; */
  text-align: left;
}
